<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-3">
            <mat-form-field>
                <mat-select placeholder="Select Organization">
                    <mat-option value="option">Hexaware Technologies</mat-option>
                    <mat-option value="option">Northern Trust</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        
        <div class="col3 offset-md-1">
            <mat-form-field>
                <mat-select placeholder="Category">
                    <mat-option value="option">Level 1 Customer</mat-option>
                    <mat-option value="option">Level 2 Customer</mat-option>                
                </mat-select>
            </mat-form-field>
        </div>
        
        
    </div>

</div>